.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    z-index: 1;

    opacity: 1;
    transition: opacity 250ms var(--cubic);
}

.backdrop.is-hidden {
    pointer-events: none;
    opacity: 0;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 528px;
    height: 581px;

    background-color: var(--white-txt-col);
    transition: transform 250ms var(--cubic);

}


.button-modal {

    display: block;

    border-style: none;
    background-color: var(--white-txt-col);

    padding: 0;

    display: block;
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;

}

.modal-close {
    fill: black;
    width: 11px;
    height: 11px;

    transition: fill 250ms var(--cubic);

}

.button-modal:focus .modal-close {
    fill: var(--accent-col);
}

/* ФОРМА МОДАЛКА */
.hero-form-heading {
    margin-bottom: 34px;

    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-txt-col);

}

.form {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;

    position: relative;
}

.form-label {
    font-size: 12px;
    position: absolute;
    left: 0;
    top: -20px;

}

.icon-modal {
    position: absolute;
    top: 50%;
    left: 15px;

    fill: var(--secondary-txt-col);

    transform: translatey(-50%);

    display: inline-block;
    width: 18px;
    height: 18px;

    transition: fill 250ms var(--cubic);

}

.form-input:focus~.icon-modal {
    fill: var(--accent-col);
}

.form-input:focus {
    outline: none;
    border: 1px solid var(--accent-col);
}


.form-field input,
.form-field textarea {
    margin: 0;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    transition: border 250ms var(--cubic);

}

.dogovor {
    color: var(--accent-col);
    text-decoration: underline;
}

textarea {
    padding: 11px;
    resize: none;
    height: 120px;

    margin-bottom: 20px;
}


input {
    padding: 11px 11px 11px 45px;
}

.form-field label {
    margin-bottom: 4px;
}

.checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;


}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

}

.icon-modalcheck {
    display: inline-block;
    width: 16px;
    height: 15px;

    fill: var(--white-txt-col);
    background-size: contain;
    background-origin: border-box;

    margin-right: 7px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 2px;

    transition: background-color 250ms var(--cubic);

}


.checkbox:checked:focus~.icon-modalcheck {

    background-color: var(--accent-col);
    border-color: var(--accent-col);
}


.button.form {
    display: block;
    border-style: none;
    border-color: none;
    cursor: pointer;

    width: 200px;
    height: 50px;
    border-radius: 4px;

    padding-top: 10px;
    padding-bottom: 10px;

    margin-right: auto;
    margin-left: auto;


    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);


    letter-spacing: 0.06em;

    color: #FFFFFF;
    background-color: var(--accent-col);
}